<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <htb.devfx>
    <objects configSet="{tag:'object'}">
      <typeAliases>
        <!--设置类型别名（可选）-->
        <add name="IPeration" type="IService.IPeration, IService" />
      </typeAliases>

      <!--对象定义，mapTo一般填远程服务地址，builder此时需要填写@RemotingObjectBuilder，setting表示可以让使用者更容易的替换远程服务地址-->
      <object name="PerationClient" type="IService.IPeration"
				mapTo="Service.Peration,Service"
				builder="@RemotingObjectBuilder">
        <lifetime type="Singleton" />
        <!--设置生命周期为单例模式-->
      </object>
    </objects>

    <octopus>
      <security>
        <whiteBlackListService />
        <!--使用者可以在这里替换远程服务地址-->
      </security>
    </octopus>
  </htb.devfx>
</configuration>